body {
  font-family: 'EB Garamond', serif;
  line-height: 1.8;
  color: #fcfcfc;
  background-color: #0b0b0b;
  margin: 20px;
  margin-bottom: 0px;
}

#story-board {
  padding-bottom: 10vh;
}

h1 {
  font-family: 'Cinzel Decorative', serif;
  font-size: 3em;
  text-align: center;
  color: #d3d3d3;
  margin-bottom: 8px;
}

p {
  font-size: 1.2em;
  text-align: justify;
  max-width:720px;
  margin: 0 auto;
  margin-bottom: 15px;
}

@media (max-width: 800px) {
  p {
    max-width: 90%;
    padding: 0 10px;
  }
}

.author {
  font-size: 1em;
  text-align: center;
  color: #555;
  margin-bottom: 80px;
  font-style: italic;
}

/* Background container that covers the viewport */


#bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black url('blur_gb.jpg') no-repeat center center;
  background-size: cover; /* Mobile view */
  filter: brightness(0.02);
  z-index: -1;
  overflow: hidden;
}


@media (min-width: 1024px) {
  #bg-image {
    background-size: contain; /* Desktop view shows full image */
  }
}


footer {
  text-align: center;
  font-size: 0.9em;
  color: #777; /* A neutral gray for subtlety */
}

.sparkle {
  filter: brightness(1); 

  transition: color 0.1s linear;
}
